body {
    font-family: 'Roboto', sans-serif; 
    background-color: #FFFFFF;
    color: #212121;
}

:root {
    --brand-color: #2196F3;
}

.web-header {
    color: #000;
}

.web-footer {
    color: #FFFFFF;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.header .logo {
    font-weight: 700;
    font-size: 26px;
}

.header a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-nav,
.header-contact {
    list-style: none;
}

.header-nav-link {
    color: #000;
}

.header-mail,
.header-telnumber {
    color: #757575;
}

.header-nav-link:hover,
.header-mail:hover,
.header-telnumber:hover,
.header-nav-link:focus,
.header-mail:focus,
.header-telnumber:focus {
    color: var(--brand-color);
}

.header-nav-link:active,
.header-mail:active,
.header-telnumber:active {
    color: #0616a5;
}

.hero {
    background-color: #2F303A;
    font-weight: 700;
    font-family: inherit;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-service {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--brand-color); 
    cursor: pointer;
    }

.button-service:hover,
.button-service:focus {
    background-color: rgb(64, 66, 206);
}

.button-service:active {
    background-color: #0616a5;
}

.advantages { 
    text-align: center;
    font-size: 25px;
}

.text {
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
}

.adv-list {
    list-style: none;
}

.content {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #757575;
}

.about {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.our-team {
    font-size: 36px;
    line-height: 1.6666;
    text-align: center;
    letter-spacing: 0.03em;
}

.info {
    list-style: none;
}

.employers {
    list-style: none;
}

.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
}

.content-about {
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer { 
    background: #2F303A;
}

.adress-footer {
    font-style: normal;
}

.address {
    list-style: none;
}

.adress-map {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.link { 
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.adress-map:hover,
.link:hover,
.adress-map:focus,
.link:focus {
    color: var(--brand-color);
}

.work {
    text-align: center;
}

.button {
    list-style: none;
}

.buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    
}
.buttons:hover,
.buttons:focus {
    color: #FFFFFF;
    background-color: var(--brand-color);
}

.buttons:active {
    color: #FFFFFF;
    background-color: #0616a5;
}

.button .buttons {
    font-family: inherit;
    cursor: pointer; 
}

.all {
    list-style: none;
}

.all-about { 
    text-decoration: none;
}

.titles-all {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    text-decoration: none;
}

.about-all {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}

.link-about {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
    text-decoration: none;
}

.current {
    color: var(--brand-color);
}




















